# 1. Ignore everything by default
*

# 2. Allow directory traversal
!*/

# 3. Exclude virtual environments, build caches, environment variables, keys, and system files
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
bin/
lib/
lib64/
include/
pyvenv.cfg
capstone.key
*.key
.env
.env.*
.DS_Store
.idea/
.vscode/

# 4. Include allowed extensions
!*.py
!*.ipynb
!*.sql
!*.pt
!*.onnx
!*.txt
!*.csv
!*.md

# 5. Include Docker-related files
!Dockerfile
!Dockerfile.*
!dockerfile
![Dd]ocker*
!docker-compose*.yml
!docker-compose*.yaml
!.dockerignore

# 6. Include Git-related files
!.gitignore
!.gitattributes
!.github/
!.github/**